@model Human_Resource_Management.ViewModel.PositionViewModel

@{
    ViewBag.Title = "Project Page";
}
<div class="row">
    <div class="page-header">
        <h2>Position</h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="nav navbar-nav navbar-left">
            <div class="navbar-header btn">
                @Html.ActionLink("Create", "Create")
            </div>
        </div>
    </div>
</div>
@if(Model.Positions.Count == 0)
{
<h3>There are no position!!</h3>
}
else
{
<div style="padding-top:10px;" class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>

                    <th>
                        Position 
                    </th>                   
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Model.Positions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => position.Position_Type)
                    </td>
                  
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = position.Id })|
                        @Html.ActionLink("Delete", "Delete", new { id = position.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
